<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta
          name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"
  />
  <title>Lightweight Charts™ Customization Tutorial</title>
  <style>
    body {
      padding: 0;
      margin: 0;
      background-color: #494d4a;
    }
  </style>
</head>

<body>
<div
        id="container"
        style="position: absolute; width: 100%; height: 100%"
></div>
<script src="{{url_for('static', filename='script.js')}}" type="module"></script>

</body>
</html>
